<div class="main-loader">
  <div class="row">
    <div class="col s12">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-white-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <h3>Cargando...</h3>
    </div>
  </div>
</div>