<app-side-nav></app-side-nav>
<div class="move">
  <div class="container">
    <div class="row">
      <form class="col s12 z-depth-4" id="formValidate" [formGroup]="userForm" (ngSubmit)="onSubmit(); userForm.reset()">
        <h1 class="space-right">Crear Usuario</h1>
        <div class="row space-right">
          <div class="input-field col s12 m6">
            <input id="name" type="text" class="validate" formControlName="name" autocomplete="off" required>
            <label>Nombre*</label>
            <span *ngIf="userForm.controls['name'].touched && userForm.controls['name'].errors?.required">
              El nombres es requerido
            </span>
          </div>
          <div class="input-field col s12 m6 space-left">
            <input id="lastName" type="text" class="validate" formControlName="lastName" autocomplete="off" required>
            <label for="lastName">Apellido*</label>
            <span *ngIf="userForm.controls['lastName'].touched && userForm.controls['lastName'].errors?.required">
              El apellido es requerido
            </span>
          </div>
        </div>
        <div class="row space-right">
          <div class="input-field col s12 m6">
            <input id="telephone" type="number" class="validate" formControlName="telephone" autocomplete="off">
            <label for="telephone">Télefono</label>
          </div>
          <!-- <div class="input-field col s12 m6">
            <p class="range-field">
              <input type="range" id="test5" min="0" max="100" />
            </p>
          </div> -->
          <div class="input-field col s12 m6 space-left">
            <select formControlName="typeUser" required>
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="1">Administrador</option>
              <option value="2">Consejo</option>
              <option value="3">Residente</option>
            </select>
            <label>Tipo de Usuario*</label>
          </div>
        </div>
        <div class="row space-right">
          <div class="input-field col s12 m6">
            <input id="tower" type="number" class="validate" formControlName="tower" autocomplete="off" required>
            <label for="tower">Torre*</label>
            <span *ngIf="userForm.controls['tower'].touched && userForm.controls['tower'].errors?.required">
                La torre es requerido
            </span>
          </div>
          <div class="input-field col s12 m6 space-left">
            <input id="apto" type="number" class="validate" formControlName="apto" autocomplete="off" required>
            <label for="apto">Apartamento*</label>
            <span *ngIf="userForm.controls['apto'].touched && userForm.controls['apto'].errors?.required">
                El apartamento es requerido
            </span>
          </div>
        </div>
        <div class="row space-right">
          <div class="input-field col s12 m6">
            <input id="email" type="email" class="validate" formControlName="email" autocomplete="off" required>
            <label for="email">Email*</label>
            <span *ngIf="userForm.controls['email'].touched && userForm.controls['email'].errors?.required">
                El email es requerido
            </span>
            <span *ngIf="userForm.controls['email'].touched && userForm.controls['email'].errors?.email">
                El email no es valido
            </span>
          </div>
          <div class="input-field col s12 m6 space-left">
            <input id="password" type="text" class="validate" formControlName="password" autocomplete="off" required>
            <label for="password">Contraseña*</label>
            <span *ngIf="userForm.controls['password'].touched && userForm.controls['password'].errors?.required">
                El password es requerido
            </span>
          </div>
        </div>
        <div class="space-right">
          <button class="btn waves-effect waves-light btn-large" type="submit" [disabled]="userForm.invalid">
            <i class="material-icons right">send</i> Guardar
          </button>
        </div>
        <br>
        <br>
      </form>
    </div>
  </div>