<app-side-nav></app-side-nav>
<div class="move">
  <div class="container">
    <div class="row">
      <form class="col s12 z-depth-4">
        <h1 class="space-right">Crear Usuario</h1>
        <div class="row space-right">
          <div class="input-field col s12 m6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Nombre</label>
          </div>
          <div class="input-field col s12 m6 space-left">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Apellido</label>
          </div>
        </div>
        <div class="row space-right">
          <div class="input-field col s12 m6">
            <input id="telephone" type="text" class="validate">
            <label for="telephone">Télefono</label>
          </div>
          <!-- <div class="input-field col s12 m6">
            <p class="range-field">
              <input type="range" id="test5" min="0" max="100" />
            </p>
          </div> -->
          <div class="input-field col s12 m6 space-left">
            <select>
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="1">Administrador</option>
              <option value="2">Consejo</option>
              <option value="3">Residente</option>
            </select>
            <label>Tipo de Usuario</label>
          </div>
        </div>
        <div class="row space-right">
          <div class="input-field col s12 m6">
            <input id="tower" type="text" class="validate">
            <label for="tower">Torre</label>
          </div>
          <div class="input-field col s12 m6 space-left">
            <input id="apto" type="text" class="validate">
            <label for="apto">Apartamento</label>
          </div>
        </div>
        <div class="row space-right">
          <div class="input-field col s12 m6">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12 m6 space-left">
            <input id="password" type="text" class="validate">
            <label for="password">Contraseña</label>
          </div>
        </div>
        <div class="space-right">
          <a class="waves-effect waves-light btn-large" (click)="pushMe()"><i class="material-icons left">save</i>Guardar</a>
        </div>
        <br>
        <br>
      </form>
    </div>
  </div>