<app-side-nav></app-side-nav>
<div class="move">
    <div class="row" style="text-align: center;">
        <div class="col s12 m4" *ngFor="let count of counts">
            <div class="row">
                <div class="col s12">
                    <div class="card darken-1">
                        <div class="card-content">
                            <div class="row" style="text-align: center; margin: 0 auto">
                                <div class="col s12 m3">
                                    <i class="material-icons large">{{count.icon}}</i>
                                </div>
                                <div class="col s12 m9">
                                    <span class="card-title">{{count.name}}:</span>
                                    <h5>{{count.count}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col s12 m6">
            <div class="card darken-1">
                <br />
                <div style="display: block">
                    <canvas baseChart [data]="chartData" [labels]="chartLabels" [chartType]="chartType"
                        [colors]="chartColors">
                    </canvas>
                </div>
                <br />
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card darken-1">
                <br />
                <div style="display: block">
                    <canvas baseChart [colors]="chartColors" [datasets]="barChartData" [labels]="barChartLabels"
                        [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>