.move {
    margin-top: -50px;
    padding-left: 300px;
}

@media (max-width: 992px) {
    .move {
        padding-left: 0;
    }
}

.container {
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 1%;
}

.container /deep/ .ql-align-center{
    text-align: center;
}

.container /deep/ .ql-align-right{
    text-align: right;
}

.container /deep/ .ql-align-justify{
    text-align: justify;
}

.modal /deep/ .ql-editor strong{
    font-weight: bold;
}