<app-side-nav></app-side-nav>
<div class="move">
  <div class="container">
    <h1>Consultar Pagos</h1>
    <form class="col s12 m12 l12" id="formularios">
        <table class="striped centered responsive-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Torre</th>
                    <th>Apartamento</th>
                    <th>N° Celular/Telefono</th>
                    <th>Tipo De Pago</th>
                    <th>Fecha Del Pago</th>
                    <th>Valor De Pago</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>3917</td>
                    <td>Hernan</td>
                    <td>Ramirez</td>
                    <td>8</td>
                    <td>608</td>
                    <td>305 722 9256</td>
                    <td>Efectivo</td>
                    <td>25/07/19</td>
                    <td>$22,000</td>
                </tr>
                <tr>
                    <td>6183</td>
                    <td>Milton</td>
                    <td>Rodriguez</td>
                    <td>2</td>
                    <td>402</td>
                    <td>323 900 9152</td>
                    <td>Efectivo</td>
                    <td>03/06/19</td>
                    <td>$11,500</td>
                </tr>
                <tr>
                    <td>5144</td>
                    <td>David</td>
                    <td>Avila</td>
                    <td>12</td>
                    <td>705</td>
                    <td>314 288 0091</td>
                    <td>Debito</td>
                    <td>14/07/19</td>
                    <td>$50,000</td>
                </tr>
                <tr>
                    <td>6103</td>
                    <td>Guillermo</td>
                    <td>Sanchez</td>
                    <td>2</td>
                    <td>303</td>
                    <td>320 445 6074</td>
                    <td>Efectivo</td>
                    <td>12/05/19</td>
                    <td>$32,000</td>
                </tr>
                <tr>
                    <td>5825</td>
                    <td>Natalia</td>
                    <td>Lozano</td>
                    <td>9</td>
                    <td>201</td>
                    <td>315 300 9905</td>
                    <td>Debito</td>
                    <td>25/04/19</td>
                    <td>$17,000</td>
                </tr>
            </tbody>
        </table>
    </form>
  </div>
</div>