<app-side-nav></app-side-nav>
<div class="move">
  <div class="container z-depth-4 radius space-right">
    <h1>Consultar Pagos</h1>
    <div class="center-table">
      <table class="striped centered responsive-table" id="myTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Modificar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>