.paralax1 {
    height: 650px;
}

.sup {
    text-align: center;
    color: #fff;
    margin-top: 50px;
    font-size: 23px;
}

.line {
    width: 750px;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 100px solid #000;
    margin: 0 auto;
}

.cuadrado {
    width: 600px;
    height: 400px;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 855px) {
    .sup {
        margin-top: 50px;
        font-size: 20px;
    }
    .line {
        width: 550px;
    }
    .triangulo {
        border-left: 200px solid transparent;
        border-right: 200px solid transparent;
        border-top: 100px solid #000;
    }
    .cuadrado {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 650px) {
    .paralax2 {
        height: 800px;
    }
    .line {
        width: 250px;
    }
}

@media (max-width: 420px) {
    .sup {
        margin-top: 10px;
    }
    .triangulo {
        border-left: 175px solid transparent;
        border-right: 175px solid transparent;
        border-top: 100px solid #000;
    }
    .cuadrado {
        width: 350px;
        height: 400px;
    }
}

@media (max-width:357px) {
    .paralax2 {
        height: 600px;
    }
    .sup {
        margin-top: 10px;
        font-size: 15px;
    }
}