<div class="navbar-fixed">
  <nav class="black">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo fix" style="margin-left: 15px"><i
          class="large material-icons">home</i>ADDMIN</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a (click)="translate(1)"><img src="../../../assets/unitedstates_flags_flag_8833.png" alt=""></a></li>
        <li><a (click)="translate(2)"><img src="../../../assets/Spain_flags_flag_8858.png" alt=""></a></li>
        <li><a routerLink="/login"><i class="large material-icons left">person</i>{{content.ingreso}}</a></li>
        <li>
          <a class="tooltipped" data-position="bottom" data-tooltip="Próximamente" style="cursor: default">
            <i class="large material-icons left">local_phone</i>
            {{content.contacto}}
          </a>
        </li>
        <li>
          <a class="tooltipped" data-position="bottom" data-tooltip="Próximamente" style="cursor: default">
            <i class="large material-icons left">info_outline</i>
            {{content.info}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/login"><i class="small material-icons left">person</i>Ingresar</a></li>
  <li>
    <a class="tooltipped" data-position="right" data-tooltip="Próximamente">
      <i class="small material-icons left">local_phone</i>
      Contacto
    </a>
  </li>
  <li>
    <a class="tooltipped" data-position="right" data-tooltip="Próximamente">
      <i class="small material-icons left">info_outline</i>
      Información
    </a>
  </li>
  <li><a (click)="translate(1)"><img style="margin-left: 70px;" src="../../../assets/unitedstates_flags_flag_8833.png"
        alt=""></a></li>
  <li><a (click)="translate(2)"><img style="margin-left: 70px;" src="../../../assets/Spain_flags_flag_8858.png"
        alt=""></a></li>
</ul>

<div class="parallax-container paralax1">
  <div class="cuadrado">
    <img src="../../../assets/icon1.jpg" class="img">
    <h1 style="text-align: center; margin-top: -15px;">ADDMIN</h1>
  </div>
  <div class="triangulo">
  </div>
  <div class="parallax"><img src="assets/bg1.jpg"></div>
</div>
<div class="row" style="text-align: center">
  <h1>{{content.hacer}}</h1>
  <hr class="line">
  <br>
  <div class="col s12 m4">
    <i class="large material-icons">group</i>
    <br>
    <b>{{content.soporte}}</b>
    <p style="text-align: justify">
      {{content.soporteCon}}
    </p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">desktop_windows</i>
    <br>
    <b>{{content.accesibilidad}}</b>
    <p style="text-align: justify">
      {{content.accesibilidadCon}}
    </p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">event_available</i>
    <br>
    <b>{{content.reservas}}</b>
    <p style="text-align: justify">
      {{content.reservasCon}}
    </p>
  </div>
</div>
<div class="row" style="text-align: center">
  <div class="col s12 m4">
    <i class="large material-icons">beenhere</i>
    <br>
    <b>{{content.seguridad}}</b>
    <p style="text-align: justify">
      {{content.seguridadCon}}
    </p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">account_balance</i>
    <br>
    <b>{{content.pagos}}</b>
    <p style="text-align: justify">
      {{content.pagosCon}}
    </p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">access_alarm</i>
    <br>
    <b>{{content.eficiencia}}</b>
    <p style="text-align: justify">
      {{content.eficienciaCon}}
    </p>
  </div>
</div>

<!-- INICIO DE MISIÓN y VISIÓN -->
<div class="parallax-container paralax2">
  <div class="row">
    <div class="container sup">
      <div class="col s12 m6" style=" background-color:rgba(0, 0, 0, 0.4);">
        <h1>{{content.mision}}</h1>
        <p style="text-align: justify;">
          {{content.misionCon}}
        </p>
      </div>
    </div>
    <div class="container sup">
      <div class="col s12 m6" style="background-color:rgba(0, 0, 0, 0.4);">
        <h1>{{content.vision}}</h1>
        <p style="text-align: justify;">
          {{content.visionCon}}
        </p>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/bg3.jpg"></div>
</div>
<br>
<!-- FIN DE MISIÓN y VISIÓN -->

<!-- INICIO DE GALERÍA -->
<div class="row">
  <h1 style="text-align:center"> {{content.galeria}} </h1>
  <hr class="line">
  <br>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/galery1.jpg">
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/galery2.jpg">
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/galery3.jpg">
      </div>
    </div>
  </div>
</div>
<!-- FIN DE GALERÍA -->

<!-- INICIO DE FOOTER -->
<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ADDMIN</h5>
        <p class="grey-text text-lighten-4">{{content.eslogan}}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">{{content.siguenos}}</h5>
        <ul>
          <li>
            <div class="row">
              <div class="col s12">
                <a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/">
                  <i class="small fab fa-facebook-square"></i> &nbsp;
                  Facebook
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col s12">
                <a class="grey-text text-lighten-3" target="_blank" href="https://www.twitter.com/">
                  <i class="small fab fa-twitter-square"></i> &nbsp;
                  Twitter
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col s12">
                <a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/">
                  <i class="small fab fa-linkedin"></i> &nbsp;
                  LinkedIn
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright ADDMIN CORP
    </div>
  </div>
</footer>
<!-- FIN DE FOOTER -->