<app-nav-bar></app-nav-bar>
<div class="parallax-container paralax1">
  <div class="cuadrado">
    <img src="../../../assets/icon1.jpg" class="img">
    <h1 style="text-align: center; margin-top: -15px;">ADDMIN</h1>
  </div>
  <div class="triangulo">
  </div>
  <div class="parallax"><img src="../../assets/bg1.jpg"></div>
</div>
<div class="row" style="text-align: center">
  <h1>LO QUE HACEMOS</h1>
  <hr class="line">
  <br>
  <div class="col s12 m4">
    <i class="large material-icons">group</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">desktop_windows</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">event_available</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
</div>
<div class="row" style="text-align: center">
  <div class="col s12 m4">
    <i class="large material-icons">beenhere</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">account_balance</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">access_alarm</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
</div>

<!-- INICIO DE MISIÓN y VISIÓN -->
<div class="parallax-container paralax2">
  <div class="row">
    <div class="container sup">
      <div class="col s12 m6" style=" background-color:rgba(0, 0, 0, 0.4);">
        <h1>Misión</h1>
        <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo repudiandae id,
          consectetur adipisci recusandae
          alias! Sed, veritatis magnam nisi unde, impedit accusamus amet dignissimos hic blanditiis aliquid libero
          exercitationem a.
        </p>
      </div>
    </div>
    <div class="container sup">
      <div class="col s12 m6" style="background-color:rgba(0, 0, 0, 0.4);">
        <h1>Visión</h1>
        <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo repudiandae id,
          consectetur adipisci recusandae
          alias! Sed, veritatis magnam nisi unde, impedit accusamus amet dignissimos hic blanditiis aliquid libero
          exercitationem a.
        </p>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/bg3.jpg"></div>
</div>
<br>
<!-- FIN DE MISIÓN y VISIÓN -->

<!-- INICIO DE GALERÍA -->
<div class="row">
  <h1 style="text-align:center"> GALERÍA </h1>
  <hr class="line">
  <br>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/bg1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
          little markup to use effectively.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/folio03.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
          little markup to use effectively.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/folio07.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
          little markup to use effectively.</p>
      </div>
    </div>
  </div>
</div>
<!-- FIN DE GALERÍA -->

<!-- INICIO DE FOOTER -->
<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus
          exercitationem explicabo enim itaque, soluta sequi officiis impedit deserunt voluptate dolorum praesentium
          saepe, iure nam, dignissimos reprehenderit odio beatae repellat libero?</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Repositorios</h5>
        <ul>
          <li>
            <div class="row">
              <div class="col s12">
                <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/DevCamilo/ADDMIN-FrontEnd">
                  <i class="small material-icons left">desktop_windows</i>
                  Frontend
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col s12">
                <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/DevCamilo/ADDMIN-BackEnd">
                  <i class="small material-icons left">https</i>
                  Backend
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright ADDMIN CORP
    </div>
  </div>
</footer>
<!-- FIN DE FOOTER -->