<app-nav-bar></app-nav-bar>
<div class="parallax-container paralax1">
  <div style="text-align:center; color: #fff; padding-top: 100px">
    <!--  <img width="300" height="300" src="../../../assets/arboldelavida.png"> -->
    <br>
    <i style="background-color:rgba(0, 0, 0, 0.4)" class="large material-icons">home</i>
    <h1><b style="background-color:rgba(0, 0, 0, 0.4)">ADDMIN</b></h1>
    <br>
    <p>
      <span style="background-color:rgba(0, 0, 0, 0.4); font-size: 25px; padding: 10px 15px"> Soluciones eficaces para
        su conjunto.</span>
    </p>
  </div>
<div class="parallax"><img src="../../assets/bg1.jpg"></div>
</div> 
<div class="row" style="text-align: center">
  <h1>LO QUE HACEMOS</h1>
  <hr class="line">
  <br>
  <div class="col s12 m4">
    <i class="large material-icons">group</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">desktop_windows</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">event_available</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
</div>
<div class="row" style="text-align: center">
  <div class="col s12 m4">
    <i class="large material-icons">beenhere</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">account_balance</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">access_alarm</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
</div>

<div class="parallax-container paralax2">
  <div class="row">
    <div class="container sup">
      <div class="col s12 m6" style=" background-color:rgba(0, 0, 0, 0.4);">
        <h1>Misión</h1>
        <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo repudiandae id,
          consectetur adipisci recusandae
          alias! Sed, veritatis magnam nisi unde, impedit accusamus amet dignissimos hic blanditiis aliquid libero
          exercitationem a.
        </p>
      </div>
    </div>
    <div class="container sup">
      <div class="col s12 m6" style="background-color:rgba(0, 0, 0, 0.4);">
        <h1>Visión</h1>
        <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo repudiandae id,
          consectetur adipisci recusandae
          alias! Sed, veritatis magnam nisi unde, impedit accusamus amet dignissimos hic blanditiis aliquid libero
          exercitationem a.
        </p>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/bg3.jpg"></div>
</div>
<br>
<div class="row">
  <h1 style="text-align:center"> GALERIA </h1>
  <hr style="width: 550px">
  <br>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/bg1.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
          little markup to use effectively.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/folio03.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
          little markup to use effectively.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/folio07.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
          little markup to use effectively.</p>
      </div>
    </div>
  </div>
</div>