<app-side-nav></app-side-nav>
<div class="move">
  <div class="container z-depth-4 raius">
    <br>
    <div class="center-table">
      <h1>Lista de Usuarios</h1>
      <div class="row">
        <div class="input-field col s12">
          <input id="disabled" type="text" class="validate" name="filter" [(ngModel)]="filterUser">
          <label for="disabled">Buscar...</label>
        </div>
      </div>
    </div>
    <div class="center-table">
      <table class="striped centered responsive-table" id="myTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Modificar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let user of listUser | filter:filterUser | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.telephone}}</td>
            <td>
              <a class="waves-effect waves-light btn green"><i class="material-icons">edit</i></a>
            </td>
            <td>
              <a class="waves-effect waves-light btn red" (click)="deleteUser(user._id)"><i
                  class="material-icons">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel=""
        responsive=true>
      </pagination-controls>
      <br>
    </div>
  </div>
</div>