<app-side-nav></app-side-nav>
<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="move">
  <div class="container">
    <form class="col s12 z-depth-4 space-left space-right" [formGroup]="pqrsForm" (ngSubmit)="onSubmit()">
      <h1 class="space-right">{{content.title}}</h1>
      <div class="row space-right">
        <div class="input-field col s12">
          <select formControlName="type">
            <option value="" disabled selected>{{content.selectOpt}}</option>
            <option *ngFor=" let type of typePqrs" [value]="type._id">{{type.name}}</option>
          </select>
          <label>{{content.typePqrs}}*</label>
        </div>
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" formControlName="title" autocomplete="off" required>
          <label for="title">{{content.titleDesc}}*</label>
          <span style="color: red"
            *ngIf="pqrsForm.controls['title'].touched && pqrsForm.controls['title'].errors?.required">
            El título es requerido
          </span>
        </div>
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea" formControlName="description" required></textarea>
          <label for="description">{{content.desc}}*</label>
          <span style="color: red"
            *ngIf="pqrsForm.controls['description'].touched && pqrsForm.controls['description'].errors?.required">
            La descripción es requerida
          </span>
        </div>
      </div>
      <div class="file-field input-field space-right">
        <div class="btn">
          <span>{{content.image}}</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" placeholder="{{content.evidence}}">
        </div>
      </div>
      <br>
      <div class="space-right">
        <button class="btn waves-effect waves-light btn-large" type="submit" [disabled]="pqrsForm.invalid">
          <i class="material-icons right">send</i> {{content.save}}
        </button>
      </div>
      <br>
      <br>
    </form>
  </div>
</div>