<div class="navbar-fixed">
  <!--<nav class=" brown lighten-1">-->
  <nav class="black">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo fix" style="margin-left: 15px"><i class="large material-icons">home</i>ADDMIN</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/login"><i class="large material-icons left">person</i> Login</a></li>
        <li><a><i class="large material-icons left">local_phone</i>Contacto</a></li>
        <li><a><i class="large material-icons left">info_outline</i>Información</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/login"><i class="small material-icons left">person</i> Login</a></li>
  <li><a><i class="small material-icons left">local_phone</i>Contacto</a></li>
  <li><a><i class="small material-icons left">info_outline</i>Información</a></li>
</ul>