<app-side-nav></app-side-nav>
<div class="move">
  <div class="container">
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
      <li class="tab"><a class="active" href="#test1">Usuario</a></li>
      <li class="tab"><a href="#test2">Reservas</a></li>
      <li class="tab"><a href="#test4">Pagos</a></li>
      <li class="tab"><a href="#test0">PQRS</a></li>
    </ul>
    <div id="test1" class="col s12">
      <div class="center-align">
        <img height=200 width=200 class="circle" src="../../../assets/avatar.svg">
      </div>
      <form class="col s12" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="first_name" type="text" class="validate" [(ngModel)]="userInfo.name"
              [ngModelOptions]="{standalone: true}" autocomplete="off">
            <label class="active" for="first_name">Nombre</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate" [(ngModel)]="userInfo.lastName"
              [ngModelOptions]="{standalone: true}">
            <label class="active" for="last_name">Apellido</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="telephone" type="number" class="validate" [(ngModel)]="userInfo.telephone"
              [ngModelOptions]="{standalone: true}">
            <label class="active" for="telephone">Telefono</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="email" type="email" class="validate" [(ngModel)]="userInfo.email"
              [ngModelOptions]="{standalone: true}" disabled>
            <label class="active" for="email">Email</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="tower" type="number" class="validate" [(ngModel)]="userInfo.tower"
            [ngModelOptions]="{standalone: true}" disabled>
            <label class="active" for="tower">Torre</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="apto" type="number" class="validate" [(ngModel)]="userInfo.apto"
            [ngModelOptions]="{standalone: true}" disabled>
            <label class="active" for="email">Apartamento</label>
          </div>
          <button class="btn waves-effect waves-light btn-large green" type="submit">
            <i class="material-icons right">edit</i> Actualizar
          </button>
        </div>
      </form>
      <div style="text-align: right; margin-top: -73px;">
        <button class="btn waves-effect waves-light btn-large blue modal-trigger" href="#modal1">
          <i class="material-icons right">lock_outline</i> Cambiar Contraseña
        </button>
      </div>
    </div>
    <div id="test2" class="col s12">
      <p>Test 2</p>
    </div>
    <div id="test4" class="col s12">
      <p>Test 4</p>
    </div>
    <div id="test0" class="col s12">
      <p>Test 5</p>
    </div>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>