.move {
    margin-top: -50px;
    padding-left: 300px;
}

@media (max-width: 992px) {
    .move {
        padding-left: 0;
    }
}

.tabs .tab a {
    color: #000;
}

/*Color del texto*/

.tabs .tab a:hover {
    background-color: #eee;
    color: #000;
}

/*Color del fondo y texto cuando el cursor esta sobre el*/

.tabs .tab a.active {
    background-color: #888;
    color: #eee;
}

.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}

/*Color del fondo y texto cuando el tab está activo*/

.tabs /deep/ .indicator {
    background-color: #000;
}

/*Color de la línea*/

.carousel .carousel-item {
    height: 100%;
}

.modal {
    width: 500px;
}

@media(max-width: 745px){
    .modal{
        width: 90%;
    }
}

span {
    color: #e57373;
}

.changePass {
    text-align: right;
    margin-top: -73px;
}

@media(max-width: 550px) {
    .changePass{
        margin-top: 0px;
        float: left;
        margin-left: -10px;
    }
}