<app-side-nav></app-side-nav>
<br>
<br>
<br>
<div class="move">
  <div class="container">
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
      <li class="tab"><a class="active" href="#user">Usuario</a></li>
      <li class="tab disabled"><a class="tooltipped" data-position="bottom" data-tooltip="Próximamente"
          href="#reservation">Reservas</a></li>
      <li class="tab disabled"><a class="tooltipped" data-position="bottom" data-tooltip="Próximamente"
          href="#payments">Pagos</a></li>
      <li class="tab"><a href="#pqrs">PQRS</a></li>
    </ul>
    <div id="user" class="col s12">
      <div class="center-align">
        <img height=200 width=200 class="circle" src="../../../assets/avatar.svg">
      </div>
      <form class="col s12" (ngSubmit)="onSubmitUser()">
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="first_name" type="text" class="validate" [(ngModel)]="userInfo.name"
              [ngModelOptions]="{standalone: true}" autocomplete="off">
            <label class="active" for="first_name">Nombre</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate" [(ngModel)]="userInfo.lastName"
              [ngModelOptions]="{standalone: true}">
            <label class="active" for="last_name">Apellido</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="telephone" type="number" class="validate" [(ngModel)]="userInfo.telephone"
              [ngModelOptions]="{standalone: true}">
            <label class="active" for="telephone">Telefono</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="email" type="email" class="validate" [(ngModel)]="userInfo.email"
              [ngModelOptions]="{standalone: true}" disabled>
            <label class="active" for="email">Email</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="tower" type="number" class="validate" [(ngModel)]="userInfo.tower"
              [ngModelOptions]="{standalone: true}" disabled>
            <label class="active" for="tower">Torre</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="apto" type="number" class="validate" [(ngModel)]="userInfo.apto"
              [ngModelOptions]="{standalone: true}" disabled>
            <label class="active" for="email">Apartamento</label>
          </div>
          <button class="btn waves-effect waves-light btn-large green" type="submit">
            <i class="material-icons right">edit</i> Actualizar
          </button>
        </div>
      </form>
      <div class="changePass">
        <button class="btn waves-effect waves-light btn-large blue modal-trigger" href="#modal1">
          <i class="material-icons right">lock_outline</i> Cambiar Contraseña
        </button>
      </div>
    </div>
    <div id="reservation" class="col s12">
      <p>Test 2</p>
    </div>
    <div id="payments" class="col s12">
      <p>Test 4</p>
    </div>
    <div id="pqrs" class="col s12">
      <div class="center-table">
        <table class="striped centered responsive-table" id="myTable">
          <thead>
            <tr>
              <th>Título</th>
              <th>Descripción</th>
              <th>Encaragado</th>
              <th>Respuesta</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let pqrs of pqrsInfo | paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{pqrs.title}}</td>
              <td>{{pqrs.description}}</td>
              <td *ngIf="pqrs.checked == 'star_border'">{{pqrs.id_attendant.name}}</td>
              <td *ngIf="pqrs.checked == 'star_border'">{{pqrs.response}}</td>
              <td *ngIf="pqrs.checked != 'star_border'">Sin Respuesta</td>
              <td *ngIf="pqrs.checked != 'star_border'">Sin Respuesta</td>
              <td>{{pqrs.created_at.split("T", 1)}} {{pqrs.created_at.substr(11,8)}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel=""
          responsive=true>
        </pagination-controls>
      </div>
    </div>
  </div>

  <!-- Modal para cambiar contraseña -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Cambiar Contraseña</h4>
      <div class="row">
        <form class="col s12" [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPassword()">
          <div class="row">
            <div class="input-field col s12">
              <input id="actual_password" type="text" class="validate" formControlName="password" minlength="6" required
                autocomplete="off">
              <label for="actual_password">Contraseña Actual</label>
              <span
                *ngIf="changePasswordForm.controls['password'].touched && changePasswordForm.controls['password'].errors?.required">
                La contraseña es requerida
              </span>
              <span
                *ngIf="changePasswordForm.controls['password'].touched && changePasswordForm.controls['password'].errors?.minlength">
                La contraseña debe tener mínimo 6 dígitos
              </span>
            </div>
            <div class="input-field col s12">
              <input id="new_password" type="text" class="validate" formControlName="newPassword" minlength="6" required
                autocomplete="off">
              <label for="new_password">Nueva Contraseña</label>
              <span
                *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors?.required">
                La nueva contraseña es requerida
              </span>
              <span
                *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors?.minlength">
                La nueva contraseña debe tener mínimo 6 dígitos
              </span>
            </div>
            <div class="input-field col s12">
              <input id="repeat_password" type="text" class="validate" formControlName="repeatPassword" minlength="6"
                required autocomplete="off">
              <label for="repeat_password">Repetir Contraseña</label>
              <span
                *ngIf="changePasswordForm.controls['repeatPassword'].touched && changePasswordForm.controls['repeatPassword'].errors?.required">
                La nueva contraseña es requerida
              </span>
              <span
                *ngIf="changePasswordForm.controls['repeatPassword'].touched && changePasswordForm.controls['repeatPassword'].errors?.minlength">
                La nueva contraseña debe tener mínimo 6 dígitos
              </span>
              <span *ngIf="validSamePassword">
                Las dos contraseñas deben ser iguales
              </span>
              <span *ngIf="validNewPassword">
                La nueva contraseña debe ser diferentes
              </span>
              <br>
              <br>
            </div>
            <button class="btn waves-effect waves-light btn-large" type="submit"
              [disabled]="changePasswordForm.invalid">
              <i class="material-icons right">send</i> Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>