<app-side-nav></app-side-nav>
<div class="move">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul id="tabs-swipe-demo" class="tabs">
          <li class="tab col s3"><a class="active" href="#test-swipe-1">Usuario</a></li>
          <li class="tab col s3"><a href="#test-swipe-2">Reservas</a></li>
          <li class="tab col s3"><a href="#test-swipe-3">Pagos</a></li>
          <li class="tab col s3"><a href="#test-swipe-4">PQRS</a></li>
        </ul>
        <div id="test-swipe-1" class="col s12 blue">Test 1</div>
        <div id="test-swipe-2" class="col s12 red">Test 2</div>
        <div id="test-swipe-3" class="col s12 green">Test 3</div>
        <div id="test-swipe-4" class="col s12 grey">Test 4</div>
      </div>
    </div>
  </div>