.move {
    margin-top: -50px;
    padding-left: 300px;
}

@media (max-width: 992px) {
    .move {
        padding-left: 0;
    }
}

.container {
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 1%;
}

.space-right {
    padding-left: 20px;
}

.space-left {
    padding-right: 40px;
}

.my-pagination /deep/ .ngx-pagination {
    font-size: 25px;
}

.my-pagination /deep/ .ngx-pagination a {
    font-size: 25px;
    padding: 2.8125px 9.375px;
    margin: 0px 0.9375px 0px 0px;
    border-radius: 10%;
    text-align: center;
    width: 40px;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous {
    font-size: 25px;
    padding: 2.8125px 9.375px;
    margin: 0px 0.9375px 0px 0px;
    border-radius: 10%;
    text-align: center;
    width: 40px;
    background: none;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #4db6ac;
    border-radius: 10%;
    width: 40px;
    text-align: center;
    font-size: 25px;
}