<app-side-nav></app-side-nav>
<div class="move">
  <div class="container z-depth-4">
    <br>
    <div class="row">
      <div class="col s12 m9">
        <h1>Consultar PQRS</h1>
      </div>
      <div class="col s12 m3" style="text-align: center">
        <a style="margin-top: 42px;" class="btn-floating btn-large waves-effect waves-light modal-trigger"
          href="#modal1">
          <i class="material-icons">add</i></a>
        <h6>Nuevo tipo de PQRS</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6" *ngFor=" let data of allData; let i = index ">
        <ul class="collection with-header">
          <li class="collection-header">
            <a href="#!"><span class="new badge" data-badge-caption="Total">{{data.count}}</span></a>
            <h4>{{data._id.name}}</h4>
            <p>{{data._id.description}}</p>
            <a class="waves-effect waves-light btn-small green modal-trigger" href="#modal2"
              (click)="setTypePqrs(data._id)">
              <i class="material-icons left">edit</i>Editar tipo de
              PQRS</a>
          </li>
          <li class="collection-item avatar"
            *ngFor=" let info of data.info | paginate: { itemsPerPage: 4, currentPage: p[i], id: data}">
            <img src="../../../../assets/avatar.png" alt="" class="circle">
            <span class="title">{{info.user.name}} {{info.user.lastName}}</span>
            <p>
              <b>{{info.title}}</b>
              <br>
              {{info.created_at.split("T", 1)}} {{info.created_at.substr(11,8)}}
            </p>
            <a class="waves-effect waves-light btn-small modal-trigger" href="#modal3"
              (click)="setPqrs(info)">Responder</a>
            <a class="secondary-content"><i class="material-icons">{{info.checked}}</i></a>
        </ul>
        <pagination-controls class="my-pagination" (pageChange)="p[i] = $event" [id]="data" previousLabel=""
          nextLabel="">
        </pagination-controls>
      </div>
    </div>
    <br>
  </div>
</div>

<!-- INICIO MODAL PARA CREAR TIPO DE PQRS -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Crear Tipo de PQRS</h4>
    <form class="col s12" [formGroup]="createTypePqrsForm" (submit)="createTypePqrs()">
      <div class="row space-right space-left">
        <div class="input-field">
          <input formControlName="name" id="name" type="text" class="validate" required>
          <label for="name">Nombre</label>
        </div>
        <div class="input-field">
          <input formControlName="description" id="description" type="text" class="validate" required>
          <label for="description">Descripción</label>
        </div>
      </div>
      <button class="modal-close btn waves-effect waves-light btn-large" type="submit"
        [disabled]="createTypePqrsForm.invalid">
        <i class="material-icons right">send</i> Guardar
      </button>
    </form>
  </div>
</div>
<!-- FIN DE MODAL PARA CREAR TIPO DE PQRS -->

<!-- INICIO DE MODAL PARA ACTUALIZAR TIPO DE PQRS -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Editar Tipo de PQRS</h4>
    <br>
    <form class="col s12" (ngSubmit)="updateTypePqrs()">
      <div class="row space-right space-left">
        <div class="input-field">
          <input id="name" type="text" class="validate" [(ngModel)]="updateType.name"
            [ngModelOptions]="{standalone: true}" required>
          <label class="active" for="name">Nombre</label>
        </div>
        <div class="input-field">
          <input id="description" type="text" class="validate" [(ngModel)]="updateType.description"
            [ngModelOptions]="{standalone: true}" required>
          <label class="active" for="description">Descripción</label>
        </div>
      </div>
      <button class="modal-close btn waves-effect waves-light btn-large" type="submit">
        <i class="material-icons right">send</i> Guardar
      </button>
    </form>
  </div>
</div>
<!-- FIN DE MODAL PARA ACTUALIZAR TIPO DE PQRS -->

<!-- INICIO DE MODAL PARA RESPONDER A LAS PQRS -->
<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Responder PQRS</h4>
    <br>
    <div style="text-align: center" class="row">
      <div class="col s12 m6">
        <h5> <b> {{updatePqrsInfo.user.name}} {{updatePqrsInfo.user.lastName}} </b> </h5>
      </div>
      <div class="col s12 m6">
        <h6> Torre: {{updatePqrsInfo.user.tower}} || Apartamento: {{updatePqrsInfo.user.apto}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p style="font-size: 25px">
          {{updatePqrsInfo.description}}
        </p>
      </div>
    </div>
    <form class="col s12" (ngSubmit)="updatePqrs()">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea2" class="materialize-textarea" [(ngModel)]="updatePqrsInfo.response"
            [ngModelOptions]="{standalone: true}"></textarea>
          <label class="active" for="textarea2">Respuesta</label>
        </div>
      </div>
      <button class="modal-close btn waves-effect waves-light btn-large" type="submit">
        <i class="material-icons right">send</i> Guardar
      </button>
    </form>
  </div>
</div>
<!-- FIN DE MODAL PARA RESPONDER A LAS PQRS -->