/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.my-pagination .ngx-pagination {
    font-size: 25px;
}

.my-pagination .ngx-pagination a {
    font-size: 25px;
    padding: 2.8125px 9.375px;
    margin: 0px 0.9375px 0px 0px;
    border-radius: 10%;
    text-align: center;
    width: 40px;
}

.my-pagination .ngx-pagination .pagination-previous {
    font-size: 25px;
    padding: 2.8125px 9.375px;
    margin: 0px 0.9375px 0px 0px;
    border-radius: 10%;
    text-align: center;
    width: 40px;
    background: none;
}

.my-pagination .ngx-pagination .current {
    background: #4db6ac;
    border-radius: 10%;
    width: 40px;
    text-align: center;
    font-size: 25px;
}