/* You can add global styles to this file, and also import other style files */

@media (max-width: 992px) {
    .material-tooltip {
        margin-left: -40px;
    }
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.my-pagination .ngx-pagination {
    font-size: 25px;
}

.my-pagination .ngx-pagination a {
    font-size: 25px;
    padding: 2.8125px 9.375px;
    margin: 0px 0.9375px 0px 0px;
    border-radius: 10%;
    text-align: center;
    width: 40px;
}

.my-pagination .ngx-pagination .pagination-previous {
    font-size: 25px;
    padding: 2.8125px 9.375px;
    margin: 0px 0.9375px 0px 0px;
    border-radius: 10%;
    text-align: center;
    width: 40px;
    background: none;
}

.my-pagination .ngx-pagination .current {
    background: #4db6ac;
    border-radius: 10%;
    width: 40px;
    text-align: center;
    font-size: 25px;
}

.dt-button {
    padding: 0;
    border: none;
}

.main-loader {
    padding-left: 300px;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(209, 208, 208, 0.5);
}

.circle-clipper .circle {
    border-color: unset;
}

.fc-time{
    display: none;
}

@media (max-width: 992px) {
    .main-loader {
        padding-left: 0;
    }
}