.move {
    margin-top: -50px;
    padding-left: 300px;
}

@media (max-width: 992px) {
    .move {
        padding-left: 0;
    }
}

form {
    padding-top: 5px;
    border-radius: 1%;
    margin-bottom: 10px;
}

.space-right {
    padding-left: 20px;
}

.space-left {
    padding-right: 40px;
}

#formularios {
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--verde);
}

#boton-enviar {
    margin-top: 20px;
}