<app-side-nav></app-side-nav>
<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="move">
  <div class="container">
    <div class="col s10 m10 l10">
      <div class="row">
        <form class="col s12 z-depth-4" id="formValidate" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
          <h1 class="space-right">{{conten.title}}</h1>
          <div class="row space-right space-left">
            <div *ngIf="currentUser.typeUser == 1" class="input-field col s12 m6">
              <input list="users" type="text" formControlName="id_user">
              <datalist id="users">
                <option *ngFor="let users of listUsers" [value]="users._id" data-icon="assets/avatar.svg">
                  {{users.name}} {{users.lastName}}
                </option>
              </datalist>
              <label>{{conten.selectUser}}</label>
            </div>
            <div *ngIf="currentUser.typeUser == 2 || currentUser.typeUser == 3" class="input-field col s12 m6">
              <input type="text" formControlName="id_user" [value]="currentUser._id" disabled>
              <label class="active">{{conten.user}}</label>
            </div>
            <div class="input-field col s12 m6">
              <input list="typePayment" type="text" formControlName="id_type_payment">
              <datalist id="typePayment">
                <option *ngFor="let typePayment of listPaymentesType" [value]="typePayment._id">{{typePayment.name}}
                </option>
              </datalist>
              <label>{{conten.selectTypePayment}}</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="original_value" type="number" class="validate" formControlName="original_value" required>
              <label for="original_value">{{conten.value}}</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="discount_value" type="number" class="validate" value="0" formControlName="discount_value"
                required>
              <label for="discount_value" class="active">{{conten.discount}}</label>
              <span
                *ngIf="paymentForm.controls['discount_value'].touched && paymentForm.controls['discount_value'].errors?.required">
                El valor es requerido
              </span>
            </div>
            <button class="btn waves-effect waves-light btn-large" type="submit" [disabled]="paymentForm.invalid">
              <i class="material-icons right">send</i> {{conten.save}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>