<app-nav-bar></app-nav-bar>
<div class="parallax-container">
  <div style="text-align:center; color: #fff; padding-top: 100px">
    <br>
    <i style="background-color:rgba(0, 0, 0, 0.4)" class="large material-icons">home</i>
    <h1><b style="background-color:rgba(0, 0, 0, 0.4)">ADDMIN</b></h1>
    <p style="background-color:rgba(0, 0, 0, 0.4); font-size: 25px; padding: 10px 15px" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod inventore animi vitae minima explicabo odit?
      Deleniti consequuntur quae ratione assumenda enim odio, explicabo quo voluptatibus neque tenetur modi iusto.
      Expedita.</p>
  </div>
  <div class="parallax"><img src="../../assets/bg1.jpg"></div>
</div>
<div class="row" style="text-align: center">
  <h1>LO QUE HACEMOS</h1>
  <br>
  <div class="col s12 m4">
    <i class="large material-icons">group</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">desktop_windows</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
  <div class="col s12 m4">
    <i class="large material-icons">event_available</i>
    <br>
    <b>Titulo del icono</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est sequi quas itaque laboriosam natus,
      reiciendis modi explicabo cupiditate illo ipsam quaerat sint fugit reprehenderit, facilis aut aspernatur laborum
      repellendus!</p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="../../assets/bg3.jpg"></div>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore laudantium dolorem autem impedit aut id possimus
  accusamus nam alias dolorum iste ullam eligendi, numquam quis mollitia odit soluta est voluptas Lorem ipsum dolor sit
  amet consectetur, adipisicing elit. Aspernatur mollitia assumenda nisi amet quasi esse, ratione consectetur doloribus
  ad impedit dicta dolor id reprehenderit. Excepturi enim ex distinctio est quae?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore laudantium dolorem autem impedit aut id possimus
  accusamus nam alias dolorum iste ullam eligendi, numquam quis mollitia odit soluta est voluptas Lorem ipsum dolor sit
  amet consectetur, adipisicing elit. Aspernatur mollitia assumenda nisi amet quasi esse, ratione consectetur doloribus
  ad impedit dicta dolor id reprehenderit. Excepturi enim ex distinctio est quae?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore laudantium dolorem autem impedit aut id possimus
  accusamus nam alias dolorum iste ullam eligendi, numquam quis mollitia odit soluta est voluptas Lorem ipsum dolor sit
  amet consectetur, adipisicing elit. Aspernatur mollitia assumenda nisi amet quasi esse, ratione consectetur doloribus
  ad impedit dicta dolor id reprehenderit. Excepturi enim ex distinctio est quae?</p>